:root {
  --font-primary: 'Open Sans', sans-serif;
  --primari-section-color: #28A745;
  --secondery-section-color: #0284D0;
  --button-accent-color: #2EBF4F;
  --primary-text-color: #FFFFFF;
  --secondery-text-color: #333333;
  --primary-background-color: #B3B3B3;
}
