:root {
  --font-primary: 'Open Sans', sans-serif;
  // --font-secondary: 'Raleway', sans-serif;
  --primari-section-color: #28A745;
  --secondery-section-color: #0284D0;
  --button-accent-color: #2EBF4F;
  --primary-text-color: #FFFFFF;
  --secondery-text-color: #333333;
  --primary-background-color: #B3B3B3;
  // --title-text-color: #212121;
  // --accent-color: #2196f3;
  // --bgc-hero-footer: #2f303a;
  // --button-secondary-made: #f5f4fa;
  // --secondary-color-white: #ffffff;
  // --logo-color: #000000;
  // --button-first-accent: #188ce8;
  // --margin-content: 30px;
}
