<section id="blog" class="blog__conteiner">
  <div class="blog__conteiner-position">
    <div class="blog__conteiner-images">
      <picture>
        <source
          srcset="./images/home/blog.webp 1x, ./images/home/blog@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/home/blog.jpg 1x, ./images/home/blog@2x.jpg 2x"
        />
        <img src="#" alt="Blog Post One" class="blog-images" />
      </picture>
    </div>
    <div class="blog-text__conteiner">
      <p class="home__text">April 16 2020</p>
      <h2 class="common-title home__title">Blog Post One</h2>
      <p class="home__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>

      <button class="button blog__button">Read Our Blog</button>
    </div>
  </div>
</section>
