<section id="contact" class="callback">
  <div class="callback__conteiner">
    <div class="callback__image-conteiner">
      <picture>
        <source
          srcset="
            ./images/home/contact.webp    1x,
            ./images/home/contact@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="./images/home/contact.jpg 1x, ./images/home/contact@2x.jpg 2x"
        />
        <img src="#" alt="photo" class="callback__image" />
      </picture>
    </div>
    <div class="callback__form-conteiner">
      <h2 class="callback__title">Request Callback</h2>
      <form class="callback__form" data-netlify="true" novalidate>
        <div class="callback__input-wraper callback__input-margin">
          <div class="callback__input-error callback__error-show">
            <img src="./images/form/worning.svg" alt="worning" />
            <p class="callback__error-text">This is a required field</p>
          </div>
          <input
            class="callback__input"
            type="text"
            name="user-name"
            pattern="^[a-zA-Zа-яА-Я]+(([' -][a-zA-Zа-яА-Я ])?[a-zA-Zа-яА-Я]*)*$"
            novalidate
            placeholder="  "
            minlength="2"
            maxlength="60"
            required
          />
          <label class="callback__input-label" for="user-name"
            ><span class="callback__label-text">Enter your name</span></label
          >
        </div>
        <div class="callback__input-wraper">
          <div class="callback__input-error callback__error-show">
            <img src="./images/form/worning.svg" alt="worning" />
            <p class="callback__error-text">This is a required field</p>
          </div>
          <input
            class="callback__input"
            type="email"
            name="email"
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            placeholder="  "
            maxlength="60"
            required
          />
          <label class="callback__input-label" for="email"
            ><span class="callback__label-text">Enter email*</span></label
          >
        </div>
        <button class="button callback__button">Send</button>
      </form>
    </div>
  </div>
</section>
