<header class="header">
  <div class="header__conteiner">
    <div class="logo__wrapper">
      <a href="../index.html" class="link logo__link" width="40" height="35">
        <img
          src="images/favicon.png"
          alt="Company's logo"
          width="40"
          height="35"
        />
      </a>
      <a class="logo link" href="../index.html"
        >Finance<span class="header__logo">Ledger</span></a
      >
    </div>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link link scroll-to" href="#home">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link scroll-to" href="#about">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link scroll-to" href="#cases">Cases</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link scroll-to" href="#blog">Blog</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link scroll-to" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
