<header class="header">
  <div class="conteiner">
    <div class="logo__wrapper">
      <a href="./index.html" class="link logo__link" width="40" height="35">
        <img
          src="images/favicon.png"
          alt="Company's logo"
          width="40"
          height="35"
        />
      </a>
      <a class="logo link" href="index.html"
        >Finance<span class="header__logo">Ledger</span></a
      >
    </div>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link nav__link--current link" href="index.html"
            >Home</a
          >
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="">Cases</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="">Blog</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- <a class="scroll-to" href="#gallery"
  ><svg class="">
    <use href=""></use>
  </svg>
</a> -->
