<section id="about" class="conteiner home__conteiner">
  <div>
    <picture>
      <source
        srcset="./images/home/people.webp 1x, ./images/home/people@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="./images/home/people.jpg 1x, ./images/home/people@2x.jpg 2x"
      />
      <img src="#" alt="people of our company" />
    </picture>
  </div>
  <div class="home__text-conteiner">
    <p class="home__text">What you are looking for</p>
    <h2 class="common-title home__title">We provide bespoke solutions</h2>
    <p class="home__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>

    <button class="button home__button">Read More</button>
  </div>
</section>
