.common-title{
  font-size: 32px;
  line-height: 44px;
  margin-top: 16px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .common-title {
    font-size: 40px;
    line-height: 48px;
  }
}
