.blog-text__conteiner{
  padding-bottom: 58px;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .blog-text__conteiner {
    padding-left: 32px;
    padding-right: 32px;

  }
}

.blog__conteiner{
  background: var(--secondery-section-color);
  color: var(--primary-text-color);
  @include centeredFlex;
  flex-direction: column;
}

.blog__conteiner-images{
  width: 320px;
  height: 247px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .blog__conteiner-images {
    width: 385px;
    height: 493px;

  }
}
@media screen and (min-width: 1360px) {
  .blog__conteiner-images {
    width: 670px;
    height: 460px;

  }
}

.blog__button{
  width: 172px;
  height: 54px;
  margin-top: 24px;
  border: 1px solid #FFFFFF;
  color: inherit;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: var(--primary-text-color);
    color: var(--secondery-section-color);
    border-color: var(--secondery-section-color);
}
}

@media screen and (min-width: 768px) {
  .blog__conteiner-position {
    display: flex;
    flex-direction: row-reverse;
  }
}

.blog-images{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
