.cases{
  padding-top: 56px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.cases-text__conteiner{
  @include centeredFlex;
  flex-direction: column;
  margin-bottom: 31px;
}
.cases__text{
  line-height: 22px;
  color: var(--secondery-text-color);
  text-align: center;
  width: 207px;
}
.cases__title{
  color: var(--secondery-text-color);
  font-size: 32px;
  line-height: 44px;
  margin-top: 16px;
  margin-bottom: 24px;
  width: 219px;
  text-align: center;
}
.cases__list{
  // margin-top: 16px;
}

.cases__item:not(:last-child) {
  margin-bottom: 8px;
}