.home__conteiner{
  background: var(--primari-section-color);
  color: var(--primary-text-color);
  @include centeredFlex;
  flex-direction: column;
}

.home__text-conteiner{
  padding-bottom: 79px;
  padding-top: 79px;
  padding-left: 20px;
  padding-right: 20px;
}

.home__text{
  line-height: 22px;
  width: 280px;
}

.home__title{
width: 280px;
}

.home__button{
  margin-top: 24px;
  width: 146px;
  height: 54px;
  border: 1px solid #FFFFFF;
  color: inherit;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: var(--primary-text-color);
    color: var(--primari-section-color);
    border-color: var(--primari-section-color);
}
}
